 <header>
    <nav class="main-nav container">
        <ul>
            <li><a href="/"><img id="logo" src="/images/vudu-logo.png" alt="vudu logo"></a></li>
            <li><a href="/movielisting">Movies</a></li>
            <li><a href="/tvshowlisting">TV</a></li>
            <li><a href="">Free</a></li>
            <li><a href="">MyVudu</a></li>
        </ul>
        <ul>
            {{#if user}}
                <li><a href="/user/logout">Log out </a></li>
            {{else}}
            <li class="dropdown">Sign In
                <ul class="dropdown-content ">
                    <li><a href="/User/login">Sign In</a></li>
                    <li><a href="/User/register">Create an acount</a></li>
                </ul> 
            </li>
            {{/if}}
            <li><a href="/search"><img id="search" src="/images/search_icon.png" alt=""></a></li>
            {{#if user}}
                <li><a href="/cart">Cart<span class="badge">{{session.cart.totalQty}}</span></a></li>
            {{/if}}

        </ul>
    </nav>
</header>