<form class="box login" action="/login" method="POST">
  <div>
    <label class="visuallyhidden" for="uname"><b>Username</b></label>
    <input type="text" placeholder="Username" name="uname" value={{usn}}>
    {{#if errorU}}
          <p class="errorMessages">{{errorU}}</p>
    {{/if}}

    <label class="visuallyhidden" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" value={{psw}}>
    {{#if errorP}}
          <p class="errorMessages">{{errorP}}</p>
      {{/if}}

    <a href="">Forgot your Vudu Password</a>
    <input type="submit" value="Sign In" class="btn btn1">
    <a class="btn btn2" href="/signup">Create a new Vudu account</a>
  </div>
  <div class="ex-links">
    <a href=""><img src="/images/Wm_btn.jpg" alt="walmart logo"></a>
    <a href=""><img src="/images/Fb_btn.jpg" alt="facebook logo"></a>
  </div>
</form>