<form class="box login"action="" method="">
  <div>
    <label class="visuallyhidden" for="uname"><b>Username</b></label>
    <input type="text" placeholder="Username" name="uname" required>
    <label class="visuallyhidden" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" required>
    <a href="">Forgot your Vudu Password</a>
    <a class="btn btn1" href="">Sign In</a>
    <a class="btn btn2" href="/signup">Create a new Vudu account</a>
  </div>
  <div class="ex-links">
    <a href=""><img src="/images/Wm_btn.jpg" alt="walmart logo"></a>
    <a href=""><img src="/images/Fb_btn.jpg" alt="facebook logo"></a>
  </div>
</form>