<img id="signup-pmt" src="images/signup_promotion.png" alt="">
<form class="box signup" action="" method="">
  <div>
    <h2>Create a New Account</h2>
    <label class="visuallyhidden" for="fname"><b>First name</b></label>
    <input type="text" placeholder="First name" name="fname"  id='fname' required>
    <label class="visuallyhidden" for="lname"><b>Username</b></label>
    <input type="text" placeholder="Last name" name="lname"  id='fname' required>
    <label class="visuallyhidden" for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>
    <label class="visuallyhidden" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" required>
    <label id="checkbox">
      <input type="checkbox"> I certify that I am at least 18 years old and that I agree to the Terms and Policies and Privacy Policy. This service is for the U.S. only.
    </label>
    <a class="btn btn1" href="">Sign Up</a>
  </div>
  <div>
    <p>Or Sign Up with</p>
  </div>
  <div class="ex-links">
    <a href=""><img src="/images/Wm_btn.jpg" alt="walmart logo"></a>
    <a href=""><img src="/images/Fb_btn.jpg" alt="facebook logo"></a>
  </div>
</form>