<section class="container dashboard">
    <div>
        <h1>Admin Dashboard</h1>
        <p>Hi {{user.firstName}} {{user.firstName}}</p>
        <p>Welcome to your dashboard!</p>
        <a class="btn" href="/list">Go to Item Dashboard </a>
    </div> 
</section>
