<section class="container dashboard">
    <div>
        <h1>Dashboard</h1>
        <p>Hi {{user.firstName}} {{user.lastName}}</p>
        <p>Welcome to your dashboard! Let's explore the movies and Tv shows</p>
        <a class="btn" href="/">Go to Homepage</a>  
    </div> 
</section>
