<section id="search-page">
    <a href="/"><img id="close-icon" src="/images/close_icon.svg" alt=""></a>
    <form action="/search" method="POST">
        <label class="visuallyhidden" for="keyword"><b>Keyword</b></label>
        <input type="text" placeholder="Search for Title of Movies or TV Shows" name="kw" value={{kw}}>

        <input type="submit" value="SEARCH" class="btn">
    </form>
    <div class="list resultlist">
        {{#each items}}
            <a href="/items/{{this.id}}"><img src="/images/posters/{{this.poster}}" alt=""></a>
        {{/each}}
    </div>
</section>